In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1179,tt1981115,170000000,479765000,Thor: The Dark World,Chris Hemsworth|Natalie Portman|Tom Hiddleston...,Alan Taylor,Delve into the darkness,Thor fights to restore order across the cosmos...,112,Action|Adventure|Fantasy,Marvel Studios,10/29/2013,6.8,2013
1181,tt1670345,75000000,117698894,Now You See Me,Jesse Eisenberg|Mark Ruffalo|Woody Harrelson|M...,Louis Leterrier,4 amazing magicians. 3 impossible heists. 1 bi...,An FBI agent and an Interpol detective track a...,115,Thriller|Crime,Summit Entertainment|K/O Paper Products|SOIXAN...,5/29/2013,7.3,2013
1240,tt1904996,35000000,46216641,Parker,Jason Statham|Jennifer Lopez|Nick Nolte|Michae...,Taylor Hackford,"To get away clean, you have to play dirty.",A thief with a unique code of professional eth...,118,Action|Crime,SND,1/23/2013,5.6,2013
126,tt1790864,34000000,348319861,The Maze Runner,Dylan O'Brien|Ki Hong Lee|Kaya Scodelario|Aml ...,Wes Ball,Run - Remember - Survive,"Set in a post-apocalyptic world, young Thomas ...",113,Action|Mystery|Science Fiction|Thriller,Ingenious Media|Twentieth Century Fox Film Cor...,9/10/2014,7.0,2014
1449,tt0389860,82500000,237681299,Click,Adam Sandler|Kate Beckinsale|Christopher Walke...,Frank Coraci,What If You Had A Remote... That Controlled Yo...,A workaholic architect finds a universal remot...,107,Comedy|Drama|Fantasy|Romance,Original Film|Columbia Pictures Corporation|Re...,6/22/2006,5.9,2006

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# предобработки колонок:
data['profit'] = data.revenue - data.budget  #дополнительная колонка "Прибыль = сборы - бюджет (profit = revenue - budget)"
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month #дополнительная колонка "месяц релиза"
data['title_length']=data.original_title.str.len()  #дополнительная колонка "количество символов в названии фильма"

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_length
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5,43

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [9]:
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_length
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,2,17

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [11]:
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_length
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,4,15

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'

In [13]:
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

In [14]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '1. 107'

In [16]:
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

In [17]:
int(np.median(data.runtime))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [19]:
answers['6'] = '5. Avatar (tt0499549)'

In [20]:
data[data.profit==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_length
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,12,6

# 7. Какой фильм самый убыточный?

In [21]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [22]:
data[data.profit==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_length
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7,15

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = '1. 1478'

In [24]:
len(data[data.profit>0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [26]:
film2008=data[data.release_year==2008]
film2008[film2008.profit==film2008.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_length
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7,15

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [28]:
film121314=data[(data.release_year>=2012) & (data.release_year<=2014)]
film121314[film121314.profit==film121314.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_length
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7,15

# 11. Какого жанра фильмов больше всего?

In [29]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [30]:
answers['11'] = '3. Drama'

In [31]:
genres = data.genres.str.split('|') #создаю список жанров, для учета каждого, если в одном фильме сразу несколько жанров
Counter(genres.sum()).most_common(1)  #использую Counter для суммирования значений каждого жанра, most_common для выбора наибольшего

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
answers['12'] = '1. Drama'

In [33]:
film_profit = data[data.profit > 0].genres.str.split('|') # создаю список жанров всех прибыльных фильмов
Counter(film_profit.sum()).most_common(1)  #использую Counter для суммирования значений каждого жанра, most_common для выбора наибольшего

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [34]:
answers['13'] = '5. Peter Jackson'

In [35]:
data.groupby(['director'])[['revenue']].sum().sort_values(
    ['revenue'], ascending=False).head(1)

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
answers['14'] = '3. Robert Rodriguez'

In [37]:
director = data[data['genres'].str.contains('Action')].director.str.split('|')
Counter(director.sum()).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = '3. Chris Hemsworth'

In [39]:
film2012=data[data.release_year==2012]
actor = set(film2012.cast.str.cat(sep='|').split('|'))
pd.Series({x: sum(film2012[film2012.cast.str.contains(x)].revenue) for x in actor}).nlargest()

Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Mark Ruffalo         1519557910
Robert Downey Jr.    1519557910
dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = '3. Matt Damon'

In [41]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.cat(sep='|').split('|')).value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Steve Burton          1
Nancy Cartwright      1
Sarah Silverman       1
James Spader          1
Paul Anderson         1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = '2. Action'

In [43]:
genres = data[data.cast.str.contains('Nicolas Cage')].genres
pd.Series(genres.str.cat(sep='|').split('|')).value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
War                 1
Horror              1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [66]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [45]:
Paramount = data[data.production_companies.str.contains('Paramount Pictures')]
Paramount[Paramount.profit == Paramount.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_length
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,7,20

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = '5. 2015'

In [47]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = '1. 2014'

In [49]:
Warner  = data[data.production_companies.str.contains('Warner Bros')][['release_year', 'profit']]
Warner.groupby(['release_year']).sum().sort_values(['profit'], ascending=False).head(1)

                  profit
release_year
2014          2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = '4. Сентябрь'

In [51]:
data.groupby(['month'])['original_title'].count().sort_values(ascending=False).head(1)

month
9    227
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
answers['22'] = '2. 450'

In [53]:
len(data[(data.month>=6) & (data.month<=8)])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = '5. Peter Jackson'

In [55]:
winter=data[(data.month==1) | (data.month==2) | (data.month==12)]
winter.groupby(['director'])['original_title'].count().sort_values(ascending=False).head(1)

director
Peter Jackson    7
Name: original_title, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
answers['24'] = '5. Four By Two Productions'

In [57]:
data['production_company'] = data.production_companies.str.split('|')
data = data.explode('production_company')
data['title_length'] = data.original_title.str.len()
data.groupby(['production_company'])[['title_length']].mean().sort_values(by='title_length', ascending=False).head(1)

                         title_length
production_company
Four By Two Productions          83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
answers['25'] = '3. Midnight Picture Show'

In [59]:
data['overview_length'] = data.overview.str.len()
data.groupby(['production_company'])[['overview_length']].mean().sort_values(by='overview_length', ascending=False).head(1)

                       overview_length
production_company
Midnight Picture Show           1000.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [60]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [61]:
data[data.vote_average >= (np.quantile(data['vote_average'], 0.99))].groupby(['original_title'])[
    'vote_average'].sum().sort_values(ascending=False)

original_title
Interstellar                                         40.0
12 Years a Slave                                     39.5
The Pianist                                          39.5
Gone Girl                                            39.5
The Grand Budapest Hotel                             39.5
The Wolf of Wall Street                              39.5
Spotlight                                            39.0
The Dark Knight                                      32.4
Room                                                 32.0
Memento                                              31.6
Guardians of the Galaxy                              31.6
Dallas Buyers Club                                   31.2
Inside Out                                           24.0
Inception                                            23.7
Eternal Sunshine of the Spotless Mind                23.4
There Will Be Blood                                  23.4
The Fault in Our Stars                               23.4
The Lord of the Rings: The Fellowship of the Ring    23.4
The Lord of the Rings: The Two Towers                23.4
Prisoners                                            23.4
The Imitation Game                                   16.0
The Lord of the Rings: The Return of the King        15.8
Mr. Nobody                                           15.6
The Prestige                                         15.6
Big Hero 6                                           15.6
Her                                                   7.8
The Theory of Everything                              7.8
3 Idiots                                              7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [62]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [63]:
import itertools
data['cast_list'] = data.cast.str.split('|')
actors2 = []  # создаю пустой список

for row in data['cast_list']:
    actors = list(itertools.combinations(row, 2))
    actors2.extend(actors)
film_2 = pd.Series(actors2)
film_2.value_counts().head()

(Johnny Depp, Helena Bonham Carter)    30
(Ben Stiller, Owen Wilson)             29
(Daniel Radcliffe, Rupert Grint)       25
(Daniel Radcliffe, Emma Watson)        25
(Kristen Stewart, Robert Pattinson)    23
dtype: int64

ВАРИАНТ 2

# Submission

In [67]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [65]:
# и убедиться что ни чего не пропустил)
len(answers)

27